/* initializing */
* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "nav main main main main main"
    "footer footer footer footer footer footer";
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p, a {
  font-size: 1.2rem;
}
/* header */
header {
  display: grid;
  position: sticky;
  top: 0;
  grid-area: header;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  grid-gap: 10px 30px;
  height: 50px;
  z-index: 1;
}
header::before {
  content: "";
  background-color: rgb(24, 24, 114);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
}
header img {
  height: 40px;
}
header ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0 30px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
header ul li a:hover {
  background-color: lightgray;
  color: black;
  border: 2px solid darkgray;
}
header ul li a:active {
  background-color: white;
  color: rgb(39, 34, 34);
  border: 1px solid gray;
}
/* navbar */
nav {
  display: grid;
  position: relative;
  grid-area: nav;
  grid-template-rows: repeat(2, auto);
  align-content: start;
  justify-content: center;
}
nav::before {
  content: "";
  background-color: rgb(21, 21, 59);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
nav img {
  height: 100px;
  margin: 30px;
}
nav ul {
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-content: start;
  justify-content: center;
  grid-gap: 10px;
}
nav ul li {
  list-style: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 50px;
  background-color: rgb(23, 23, 67);
}
nav ul li a {
  text-decoration: none;
  color: lightblue;
}
nav ul li a:hover {
  color: white;
}
nav ul li a:active {
  color: darkblue;
}
/* main */
main {
  grid-area: main;
}
/* home */
#home {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 40px;
  position: relative;
}
#home::before {
  content: "";
  background: url(https://images5.alphacoders.com/419/419573.jpg) no-repeat
    center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
}
#home img {
  height: 300px;
}
#home .heading {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-content: center;
}
.heading h1,
.heading p {
  text-align: center;
}
/* content */
#content {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  padding: 20px;
  grid-gap: 20px;
  position: relative;
}
#content::before {
  content: "";
  background: url(https://wallpapercave.com/wp/wp2036901.jpg) no-repeat center
    center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
}
#content .heading h2 {
  text-align: center;
}
#content .container {
  display: grid;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-gap: 30px;
  grid-template-columns: repeat(3, auto);
}
#content .container .item {
  display: grid;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}
#content .container .item img {
  width: 200px;
  margin: 10px auto;
}
.item h3,
.item p {
  text-align: center;
}
/* our clients */
#clients {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-content: space-evenly;
  padding: 20px;
  grid-gap: 20px;
  position: relative;
}
#clients::before {
  content: "";
  background: url(https://wallpapercave.com/wp/wp6680305.jpg) no-repeat center
    center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}
#clients .heading {
  display: grid;
  justify-content: center;
}
#clients .clients {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  grid-gap: 80px;
}
#clients .clients img {
  width: 100px;
}
/* contact us */
#contact {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  padding: 20px;
  grid-gap: 10px;
  position: relative;
}
#contact::before {
  content: "";
  background: url(https://th.bing.com/th/id/OIP.YwWTuKuLZISS1UR3QtOZnwHaC2?pid=ImgDet&rs=1)
    no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}
#contact .heading h2 {
  text-align: center;
}
#contact form {
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  grid-gap: 5px;
}
#contact form .form-item {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}
input,
textarea {
  width: 300px;
}
.radios {
  margin-right: 146px;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.radios input {
  width: auto;
  margin-right: 20px;
}
#message {
  height: 100px;
}
.buttons input {
  width: 100px;
  background-color: rgb(41, 128, 0);
  border: 2px solid green;
  padding: 15px 15px;
  border-radius: 20px;
  font-size: 16px;
  color: white;
  margin: 10px;
}
/* footer */
footer {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-area: footer;
  justify-content: space-between;
  position: relative;
}
footer::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: -1;
}
footer p {
  text-align: center;
  margin: 0 20px;
}
footer img {
  height: 20px;
  margin: 0 20px;
}
