/* initializing */
* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "nav main main main main main"
    "footer footer footer footer footer footer";
}
/* header */
header {
  border: 2px solid blue;
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  grid-gap: 10px 30px;
  height: 50px;
  background-color: black;
}
header img {
  height: 40px;
}
header ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px 30px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
}
/* navbar */
nav {
  border: 2px solid red;
  display: grid;
  grid-area: nav;
  grid-template-rows: repeat(2, auto);
  align-content: start;
  justify-content: center;
  height: 100%;
  padding: 20px;
  background-color: darkblue;
}
nav img {
  height: 100px;
  margin: 30px;
}
nav ul {
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-content: start;
  justify-content: center;
  grid-gap: 10px;
}
nav ul li {
  list-style: none;
  padding: 5px 50px;
  border: 2px solid black;
  border-radius: 10px;
}
nav ul li a {
  text-decoration: none;
}
/* main */
main {
  border: 2px solid green;
  grid-area: main;
}
/* home */
#home {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 40px;
  background: url(https://images5.alphacoders.com/419/419573.jpg) no-repeat
    center center/cover;
}
#home img {
  height: 300px;
}
#home .heading {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-content: center;
}
.heading h1,
.heading p {
  text-align: center;
}
/* content */
#content {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  padding: 20px;
  grid-gap: 20px;
  background: url(https://wallpapercave.com/wp/wp2036901.jpg) no-repeat center
    center/cover;
}
#content .heading h2 {
  text-align: center;
}
#content .container {
  display: grid;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-gap: 30px;
  grid-template-columns: repeat(3, auto);
}
#content .container .item {
  display: grid;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
}
#content .container .item img {
  width: 200px;
  margin: 10px auto;
}
.item h3,
.item p {
  text-align: center;
}
/* our clients */
#clients {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-content: space-evenly;
  padding: 20px;
  grid-gap: 20px;
  background: url(https://wallpapercave.com/wp/wp6680305.jpg) no-repeat center
    center/cover;
}
#clients .heading {
  display: grid;
  justify-content: center;
}
#clients .clients {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  grid-gap: 80px;
}
#clients .clients img {
  width: 100px;
}
/* contact us */
#contact {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  padding: 20px;
  grid-gap: 10px;
  background: url(https://th.bing.com/th/id/OIP.YwWTuKuLZISS1UR3QtOZnwHaC2?pid=ImgDet&rs=1)
    no-repeat center center/cover;
}
#contact .heading h2 {
  text-align: center;
}
#contact form {
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  grid-gap: 5px;
}
#contact form .form-item {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}
input,
textarea {
  width: 300px;
}
.radios {
  margin-right: 146px;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.radios input {
  width: auto;
  margin-right: 20px;
}
#message {
  height: 100px;
}
.buttons input {
  width: 100px;
  background-color: rgb(41, 128, 0);
  border: 2px solid green;
  padding: 15px 15px;
  border-radius: 20px;
  font-size: 16px;
  color: white;
  margin: 10px;
}
/* footer */
footer {
  height: 20px;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, auto);
  border: 2px solid yellow;
  grid-area: footer;
  justify-content: space-between;
}
footer p {
  text-align: center;
  margin: 0 20px;
}
footer img {
  height: 20px;
  margin: 0 20px;
}
