/* initializing */
* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "nav main main main main main"
    "footer footer footer footer footer footer";
}
/* header */
header {
  border: 2px solid blue;
  display: grid;
  grid-area: header;
  grid-template-areas: "auto auto";
  justify-content: center;
  align-items: center;
  gap: 10px 30px;
  height: 50px;
}
header img {
  height: 40px;
}
header ul {
  display: grid;
  grid-template-areas: "auto auto auto auto";
  gap: 10px 30px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
}
/* navbar */
nav {
  border: 2px solid red;
  display: grid;
  grid-area: nav;
  grid-template-areas: "auto" "auto";
  align-content: start;
  justify-content: center;
  height: 100%;
  padding: 20px;
}
nav img {
  height: 100px;
  margin: 30px;
}
nav ul {
  display: grid;
  grid-template-areas: "auto" "auto" "auto" "auto";
  align-content: start;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 5px;
  padding: 5px 50px;
  border: 2px solid black;
  border-radius: 10px;
}
nav ul li a {
  text-decoration: none;
}
/* main */
main {
  border: 2px solid green;
  grid-area: main;
}
/* home */
#home {
  display: grid;
  grid-template-areas: "auto auto";
  padding: 40px;
}
#home img {
  height: 300px;
}
#home .heading {
  display: grid;
  grid-template-areas: "auto" "auto" "auto";
  align-content: center;
}
.heading h1,
.heading p {
  text-align: center;
}
/* content */
#content {
  display: grid;
  grid-template-areas: "auto" "auto";
  justify-content: center;
}
#content .heading {
  margin: 20px;
}
#content .container {
  display: grid;
  grid-template-areas: "auto auto auto";
  justify-content: space-evenly;
  align-content: space-evenly;
}
#content .container .item {
  display: grid;
  grid-template-areas: "auto" "auto" "auto";
  margin: 30px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
}
#content .container .item img {
  width: 200px;
  margin: 10px auto;
}
#content .container .item h3,
#content .container .item p {
  text-align: center;
}
/* our clients */
#clients {
  display: grid;
  grid-template-areas: "auto" "auto";
  justify-content: center;
  align-content: space-evenly;
}
#clients .heading {
  display: grid;
  justify-content: center;
  margin: 20px;
}
#clients .clients {
  display: grid;
  grid-template-areas: "auto auto auto auto";
  justify-content: space-evenly;
}
#clients .clients img {
  width: 100px;
  margin: 30px;
}
/* contact us */
#contact {
  display: grid;
  grid-template-areas: "auto" "auto";
  justify-content: center;
}
#contact .heading {
  margin: 10px;
}
#contact .heading h2 {
  text-align: center;
}
#contact form {
  display: grid;
  grid-template-areas: "auto" "auto" "auto" "auto" "auto";
  justify-content: center;
}
#contact form .form-item {
  width: 400px;
  display: grid;
  grid-template-areas: "auto auto";
  justify-content: space-between;
  margin: 3px;
}
input,
textarea {
  width: 300px;
}
.radios {
  margin-right: 146px;
  display: grid;
  grid-template-areas: "auto auto";
}
.radios input {
  width: auto;
  margin-right: 20px;
}
#message {
  height: 100px;
}
.buttons input {
  width: 100px;
  background-color: rgb(41, 128, 0);
  border: 2px solid green;
  padding: 15px 15px;
  border-radius: 20px;
  font-size: 16px;
  color: white;
}
/* footer */
footer {
  height: 20px;
  background-color: black;
  color: white;
  display: grid;
  grid-template-areas: "auto auto";
  border: 2px solid yellow;
  grid-area: footer;
  justify-content: space-between;
}
footer p {
  text-align: center;
  margin: 0 20px;
}
footer img {
  height: 20px;
  margin: 0 20px;
}
